<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>'s Games
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>
            <%= user.username %>'s Games
        </h1>
        <a href="/users/<%= user._id %>/games/new">Add New Game</a>
        <ul>
            <% games.forEach((game)=> { %>
                <li>
                    <a href="/users/<%= user._id %>/games/<%= game._id %>">
                        (<%= game.system %>) <%= game.title %>
                    </a>
                </li>
                <% }) %>
        </ul>
</body>

</html>