<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/user.css" />
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="user-body">
            <div class="user-header">
                <h1>Explore our Community</h1>
            </div>
            <ul>
                <% users.forEach(user=> { %>
                    <li class="user-li">
                        <a href="/users/<%= user._id %>">
                            <div class="user-img">
                                <% if (user.games.length> 0) {
                                    const lastGame = user.games[user.games.length - 1]; %>
                                    <img src="<%= lastGame.imageUrl %>" alt="<%= lastGame.title %>" height="150px"
                                        width="auto" />
                                    <% } else { %>
                                        <img src="https://gamefaqs.gamespot.com/a/platform/thumb/arcade.jpg"
                                            alt="no box art" height="150px" width="auto" />
                                        <% } %>
                            </div>
                            <div class="user-name">
                                <%= user.username %>
                            </div>
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <%- include('../partials/_footer.ejs') %>
</body>

</html>